/**
 * File              : main.css
 * Author            : John Gentile <johncgentile17@gmail.com>
 */
/* Fix for IE10 `viewport` bug */

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

ol.bibliography { list-style-type: none; }

.homepage-fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348)
}

.slideout-menu-section-title {
  text-transform: uppercase;
  color: #85888D;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 20px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px
}

.slideout-menu-li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
}

.slideout-menu-li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #CCC;
  outline: 0
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

a.underlined,
a code,
.card-container.grid .card-link p {
  hyphens: manual;
  overflow-wrap: normal;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal
}

.toc a {
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word
}

#ShowHideButton {
  opacity: 0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #666
}

#toc-sidebar:hover #ShowHideButton {
  opacity: 1;
}

.light,
a,
.text-label,
html th,
body th,
.toc::before,
amp-sidebar .return-button {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .56px;
  line-height: 16px
}

@media only screen and (max-width: 956px) {
  .light,
  a,
  .text-label,
  html th,
  body th,
  .toc::before,
  amp-sidebar .return-button {
    font-size: 12px
  }
}

body,
.header div.tab .list-container>ul li a,
.doc-sidebar .section-name,
.card,
.searchbar input {
  font-weight: 300;
  text-transform: none
}

body,
.card {
  font-size: 20px;
  line-height: 28px
}

@media only screen and (max-width: 956px) {
  body,
  .card {
    font-size: 16px;
    line-height: 26px
  }
}

.small,
.doc-sidebar li.sub-level>.section-name,
.header div.tab .list-container>ul li a,
.post-content,
.doc-sidebar .section-name,
.searchbar input {
  color: #333;
  font-size: 13px;
  line-height: 1.3
}

@media only screen and (max-width: 956px) {
  .small,
  .doc-sidebar li.sub-level>.section-name,
  .header div.tab .list-container>ul li a,
  .post-content,
  .doc-sidebar .section-name,
  .searchbar input {
    font-size: 14px
  }
}

.smaller {
  color: #333;
  font-size: 14px;
  line-height: 26px
}

.light {
  color: #959595;
  margin-bottom: 15px
}

.desktop-up,
.desktop-only {
  display: none;
  visibility: hidden
}

@media only screen and (min-width: 957px) {
  .desktop-up,
  .desktop-only {
    display: block;
    visibility: visible
  }
}

.tablet-up {
  display: none;
  visibility: hidden
}

@media only screen and (min-width: 1025px) {
  .tablet-up {
    display: block;
    visibility: visible
  }
}

.tablet-down {
  display: none;
  visibility: hidden
}

@media only screen and (max-width: 1024px) {
  .tablet-down {
    display: block;
    visibility: visible
  }
}

.mobile-down {
  display: none;
  visibility: hidden
}

@media only screen and (max-width: 956px) {
  .mobile-down {
    display: block;
    visibility: visible
  }
}

@keyframes cta-line {
  0% {
    transform-origin: 100% 50%;
    transform: scaleX(1)
  }
  45% {
    transform-origin: 100% 50%;
    transform: scaleX(0)
  }
  55% {
    transform-origin: 0% 50%;
    transform: scaleX(0)
  }
  100% {
    transform-origin: 0% 50%;
    transform: scaleX(1)
  }
}

.header div.tab .list-container>ul li.has-sublist::after,
.doc-sidebar li.top-level.expandable>.section-name::after,
.language .current::after,
amp-sidebar .language .current::after,
amp-sidebar .has-sub-level::after,
footer .footer-image.twitter,
footer .footer-image.wordpress,
footer .footer-image.youtube {
  display: inline-block;
  background-image: url("/assets/images/sprite.svg");
  background-size: 100px 74px
}

html,
body,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  /*padding-top: 10px*/
}

/*@media only screen and (max-width: 956px) {
  body {
    padding-top: 10px
  }
}*/

img {
  border: 0;
  max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 300;
  margin: 0.25em 0
}

h1,
h2.h1 {
  font-size: 50px;
  font-weight: 100;
  line-height: 65px
}

@media only screen and (max-width: 956px) {
  h1,
  h2.h1 {
    font-size: 35px;
    line-height: 44px
  }
}

h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 100
}

@media only screen and (max-width: 956px) {
  h2 {
    font-size: 26px;
    line-height: 20px;
    font-weight: 300
  }
}

h3 {
  font-size: 30px;
  line-height: 40px
}

@media only screen and (max-width: 956px) {
  h3 {
    font-size: 20px;
    line-height: 28px
  }
}

h4 {
  font-size: 24px;
  line-height: 32px
}

@media only screen and (max-width: 956px) {
  h4 {
    font-size: 18px;
    line-height: 26px
  }
}

a {
  color: #1c79c0;
  position: relative;
  text-decoration: none
}

a.underlined::before,
a code::before,
.card-container.grid .card-link p::before {
  background: linear-gradient(to right, #0389ff, #0dd3ff);
  bottom: -3px;
  content: '';
  left: 0;
  height: 1px;
  position: absolute;
  right: 0
}

a.underlined.cta,
a code.cta,
.card-container.grid .card-link p.cta {
  overflow: hidden
}

a.underlined.cta::before,
a code.cta::before,
.card-container.grid .card-link p.cta::before {
  bottom: -5px;
  height: 2px
}

a.underlined.cta:hover::before,
a code.cta:hover::before,
.card-container.grid .card-link p.cta:hover::before {
  animation: 0.5s 1 cta-line
}

@media only screen and (max-width: 956px) {
  a {
    font-size: 14px
  }
}

#back_to_top_btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0389ff;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#back_to_top_btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

#back_to_top_btn:hover {
  background-color: #6c757d;
}

.button {
  background-color: #0389ff;
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  position: relative;
  transition: background-color 0.3s
}

.button span {
  position: relative;
  z-index: 1
}

.button::before {
  background: linear-gradient(to right, #0389ff, #0dd3ff);
  bottom: -2px;
  content: '';
  left: 0;
  height: 2px;
  position: absolute;
  right: 0
}

.button::after {
  background: linear-gradient(36deg, #0dd3ff, #0389ff);
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.button:hover {
  background-color: #6c757d
}

.button:hover .arrow {
  transform: translateX(3px)
}

.button.light {
  background: #fff;
  color: #1c79c0
}

.button.light::after {
  background: linear-gradient(36deg, #5ADAFD, #51B9FD);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 0
}

.button.light:hover {
  color: #fff
}

.button.light:hover::after {
  opacity: 1
}

.button .arrow {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid white;
  display: inline-block;
  height: 0;
  margin-left: 8px;
  transition: transform 0.3s;
  width: 0
}

.rtl .button .arrow {
  margin: 0 8px 0 0;
  transform: rotate(180deg)
}

.rtl .button:hover .arrow {
  transform: rotate(180deg) translateX(3px)
}

blockquote {
  color: #797c82;
  border-left: 4px solid #f9f9f9;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic
}

blockquote>:last-child {
  margin-bottom: 0
}

.rtl blockquote {
  border-left: 0;
  border-right: 4px solid #f9f9f9;
  padding-left: 0;
  padding-right: 15px
}

p:last-child {
  margin-bottom: 0
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0
}

amp-youtube,
amp-vimeo {
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.1)
}

.rtl figure {
  direction: ltr
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 3000px;
  padding: 0 22px
}

.container.sm {
  max-width: 800px
}

.container.md {
  max-width: 925px
}

.container.lg {
  max-width: 1200px
}

.container.xl {
  max-width: 1440px
}

.wrap {
  margin: 0 auto;
  overflow: hidden
}

:target::before {
  content: '';
  display: block;
  height: 110px;
  margin-top: -110px;
  visibility: hidden
}

@media only screen and (max-width: 956px) {
  :target::before {
    height: 70px;
    margin-top: -70px
  }
}

#header {
  backface-visibility: hidden;
  font-size: 14px;
  font-weight: 300;
  transform: translateZ(0)
}

#header.active {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.header .container {
  position: relative;
  z-index: 1
}

.header.fixed {
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(0%);
  transition: all .4s ease;
  width: 100%;
  z-index: 1000
}

.header .nav-container,
.header .left-nav,
.header .alt,
.header .tabs {
  display: flex
}

.header .nav-container {
  justify-content: space-between;
  position: relative
}

.header .left-nav,
.header .alt {
  justify-content: flex-start
}

.header .left-nav {
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  margin-left: 0
}

/*.header .left-nav*/
.header-title {
  background: url("/assets/images/Gent-systems_icon_black.png") no-repeat center left/50%;
  color: #0379c4;
  margin: 0;
  padding: 40px 40px 40px 40px;
  text-transform: none;
  white-space: nowrap;
  width: auto
}

.header .left-nav .header-title::after,
.header .left-nav .header-title::before {
  display: none
}

.header .alt,
.header .tabs {
  align-items: stretch
}

.header .alt {
  padding: 0
}

.header .alt.right {
  font-size: 15px
}

.header .tabs {
  justify-content: center;
  margin-left: 60px
}

.header .tab {
  color: #333;
  font-weight: 400;
  margin: 0 4px;
  padding: 6px;
  position: relative;
  transition: .1s ease color
}

.header .tab::after {
  background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
  bottom: 0;
  content: '';
  height: 3px;
  left: 20px;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 20px;
  transition: .1s ease opacity
}

.header .tab:hover,
.header .tab.active {
  color: #1c79c0
}

.header .tab.active::after {
  opacity: 1
}

.header .tab.active:hover::after {
  opacity: 0
}

.header .tab.hamburger {
  align-self: center;
  background: url("/assets/images/hamburger.svg") no-repeat center/30px 24px transparent;
  border: 0;
  cursor: pointer;
  display: none;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px
}

.header div.tab {
  padding: 6px 20px
}

.header div.tab::before {
  bottom: 0;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  content: '';
  left: -10px;
  opacity: 0;
  position: absolute;
  right: -10px;
  top: 20px;
  transition: opacity .2s ease-out
}

.header div.tab>a {
  color: inherit;
  position: relative;
  top: 19px
}

.header div.tab .list-container>ul,
.header div.tab .sublist {
  list-style: none
}

.header div.tab .list-container,
.header div.tab .sublist {
  opacity: 0;
  pointer-events: none;
  position: absolute
}

.header div.tab .list-container {
  left: -10px;
  top: 100%;
  transition: .2s ease-out;
  z-index: -1
}

.header div.tab .list-shadow {
  bottom: -50px;
  left: -50px;
  overflow: hidden;
  position: absolute;
  right: -50px;
  top: 0
}

.header div.tab .list-shadow::before {
  bottom: 50px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  content: '';
  left: 50px;
  position: absolute;
  right: 50px;
  top: 0
}

.header div.tab .list-container>ul {
  background: #fff;
  min-width: 250px;
  position: relative
}

.header div.tab .list-container>ul li {
  box-sizing: border-box;
  position: relative
}

.header div.tab .list-container>ul li.has-sublist::after {
  width: 6.12px;
  height: 11.88px;
  background-position: -84px -38.94px;
  content: '';
  position: absolute;
  right: 20px;
  top: 18px
}

.header div.tab .list-container>ul li a {
  display: block;
  padding: 7.5px 30px
}

.header div.tab .list-container>ul li:hover {
  background: #f8f8f8
}

.header div.tab .list-container>ul li:hover .sublist {
  opacity: 1;
  pointer-events: all
}

.header div.tab .list-container>ul li.external a {
  background: no-repeat right 15px center / 12px
}

.header div.tab .list-container>ul li.external:hover a {
  background-image: url("/assets/images/ic_open_in_new_black.svg")
}

.header div.tab .list-container>ul .sublist {
  background: #f8f8f8;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: opacity .3s;
  max-height: calc(100vh - 295px);
  overflow-y: auto
}

.header div.tab .list-container>ul .sublist li:hover {
  background: white
}

.header div.tab .list-container>ul .sublist li a {
  display: block;
  font-size: 11px;
  line-height: 1.3;
  padding: 5px 15px
}

.header div.tab .list-container>ul .sublist li.active {
  background: white;
  border-left: 2px solid;
  border-left-color: #44aeff
}

.header div.tab:hover::before {
  opacity: 1
}

.header div.tab:hover .list-container {
  opacity: 1;
  pointer-events: all;
  z-index: 0
}

@media only screen and (max-width: 956px) {
  .header .container {
    padding-right: 18px
  }
  .header .left-nav {
    flex: 1 1 auto;
    width: auto
  }
  .header .left-nav .header-title {
    margin: 0;
    padding: 30px 30px 30px 50px;
    width: auto
  }
  .header div.tab,
  .header .desktop {
    display: none
  }
  .header .tab.hamburger {
    display: inline-block
  }
}

.rtl .header .tabs {
  margin-right: 60px
}

.rtl .header .tab .list-container {
  left: auto;
  right: -10px
}

.rtl .header .tab .list-container>ul li.has-sublist::after {
  left: 20px;
  right: auto;
  transform: rotate(180deg)
}

.rtl .header .tab .list-container>ul li.external a {
  background-position: left 15px center
}

.rtl .header .tab .list-container>ul .sublist {
  left: 0;
  transform: translateX(-100%);
  right: auto
}

.container .content {
  margin: 0 auto;
  min-width: 0;
  padding: 100px 0;
  transition: all .25s ease;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word
}

.main {
  align-items: stretch;
  background-color: #FFF;
  display: flex;
  margin-left: 0px;
  min-height: calc(100vh - 274px)
}

@media only screen and (max-width: 1560px) {
  .main {
    margin-left: 300px;
  }
}

.main h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
  margin-top: 0
}

.main h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 30px
}

.main h3 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 30px
}

.main h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px
}

.main h5 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 30px
}

.main h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px
}
.main a {
  font-size: 16px
}

.main aside a {
  font-size: 14px
}

.main .centered-fig {
  text-align: center
}

.main .flex-images {
  display: flex;
  align-items: center
}

.main .special-char {
  font-size: 22px;
  font-weight: 400;
  padding: 10px
}

.main .content {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 1000px;
  padding-bottom: 0px
  /*padding-top: 70px*/
}

.main .content ul,
.main .content ol {
  margin-left: 40px
}

.main amp-img,
.main amp-youtube,
.main amp-iframe {
  margin: 1em 0
}

.main .alignment-wrapper {
  margin-bottom: 1em
}

.main .alignment-wrapper.left {
  float: left;
  margin-right: 1em
}

@media only screen and (max-width: 956px) {
  .main .alignment-wrapper.left {
    float: none;
    margin-right: 0
  }
}

.main .alignment-wrapper.right {
  float: right;
  margin-left: 1em
}

@media only screen and (max-width: 956px) {
  .main .alignment-wrapper.right {
    float: none;
    margin-left: 0
  }
}

.main .alignment-wrapper.center {
  margin: 0 auto
}

@media only screen and (max-width: 956px) {
  .main .alignment-wrapper.center {
    float: none;
    margin-left: 0
  }
}

.main .alignment-wrapper.half {
  width: calc(50% - 0.5em)
}

@media only screen and (max-width: 956px) {
  .main .alignment-wrapper.half {
    width: auto
  }
}

.main .alignment-wrapper.third {
  width: calc(33% - 0.5em)
}

@media only screen and (max-width: 956px) {
  .main .alignment-wrapper.third {
    width: auto
  }
}

.main .alignment-wrapper.margin-none {
  margin: 0
}

.main .alignment-wrapper.ninety {
  width: calc(90% - 0.5em)
}

@media only screen and (max-width: 956px) {
  .main .alignment-wrapper.ninety {
    width: auto
  }
}

.main .alignment-wrapper amp-img {
  margin: 0
}

.main .alignment-wrapper figcaption {
  font-size: 0.8em;
  color: #666;
  margin-top: 1em;
  padding: 1em 0;
  border-top: 2px solid #f0f0f0;
  text-align: center
}

.rtl .main {
  margin: 0 350px 0 auto
}

@media only screen and (max-width: 956px) {
  .container .content {
    max-width: 100%;
    padding: 70px 0
  }
  .main {
    flex-direction: column;
    margin-left: 0
  }
  .main h1 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 300
  }
  .main h2 {
    font-size: 20px;
    line-height: 28px
  }
  .main h3 {
    font-size: 18px;
    line-height: 26px
  }
  .main a {
    font-size: 14px
  }
  .rtl .main {
    margin-right: 0
  }
}

.error-text {
  color: red
}

.success-text {
  color: green
}

.post-title {
  color: #1c79c0;
  margin: 0 75px;
  padding: 0 15px
}

.post-content {
  margin: 0 75px;
  padding: 0 15px
}

.post-content a {
  text-transform: none
}

.post-content a[href*="//"]:not([href*="ni.com/"]):not([href*="github.com/"]):not([href*="facebook.com/"]):not([href*="twitter.com/"]):not([href*="linkedin.com/"]):not([href*="creativecommons.org/"])::after {
  content: "";
  display: inline-block;
  background-image: url("/assets/images/ic_open_in_new_blue.svg");
  background-size: 18px;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  vertical-align: text-bottom
}

.post-content .button:before {
  display: none
}

.post-content td:first-child a:hover {
  text-decoration: none
}

.post-content th.col-twenty,
.post-content td.col-twenty {
  min-width: 90px
}

.post-content dd {
  padding: 0 16px;
  margin-bottom: 16px
}

.prev-next-buttons {
  width: 100%;
  display: inline-block;
  padding-top: 30px
}

.start-button {
  padding-top: 20px
}

.prev-button {
  text-align: left;
  float: left
}

.next-button {
  text-align: right;
  float: right
}

.arrow-prev::before {
  background: url(/assets/images/arrow.svg) center/cover no-repeat;
  content: '';
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 12px;
  transform: rotate(180deg)
}

.arrow-next::after {
  background: url(/assets/images/arrow.svg) center/cover no-repeat;
  content: '';
  display: inline-block;
  height: 12px;
  margin-left: 10px;
  width: 12px
}

@media only screen and (min-width: 1351px) {
  .post.has-toc .post-title,
  .post.has-toc .post-content {
    margin: 0 190px 0 15px
  }
  .rtl .post.has-toc .post-title,
  .rtl .post.has-toc .post-content {
    margin: 0 15px 0 190px
  }
}

@media only screen and (max-width: 1350px) {
  .post.has-toc .post-title,
  .post.has-toc .post-content {
    margin: 0
  }
  .rtl .post.has-toc .post-title,
  .rtl .post.has-toc .post-title,
  .rtl .post.has-toc .post-content {
    margin: 0
  }
}

@media only screen and (max-width: 1024px) {
  .post-title,
  .post-content {
    margin: 0 15px
  }
}

@media only screen and (max-width: 956px) {
  .post-title,
  .post-content {
    margin: 0
  }
}

#toc.affix {
  top: 20px;
}

.doc-sidebar {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  position: fixed;
  z-index: 100
}

/* all links */

.doc-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */

.doc-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  font-size: 12px;
}

/* active & hover links */

.doc-sidebar .nav>.active>a,
.doc-sidebar .nav>li>a:hover,
.doc-sidebar .nav>li>a:focus {
  color: #222;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #44aeff;
}

/* all active links */

.doc-sidebar .nav>.active>a,
.doc-sidebar .nav>.active:hover>a,
.doc-sidebar .nav>.active:focus>a {
  font-weight: 300;
}

/* nested active links */

.doc-sidebar .nav .nav>.active>a,
.doc-sidebar .nav .nav>.active:hover>a,
.doc-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */

.doc-sidebar .nav ul.nav {
  display: none;
}

.doc-sidebar ul,
.doc-sidebar ol,
.doc-sidebar li {
  list-style-type: none
}

/* show active nested list */

.doc-sidebar .nav>.active>ul.nav {
  display: block;
}

/* hide sidebar for non-large screens */

@media screen and (max-width: 956px) {
  .doc-sidebar {
    display: none;
  }
}

.doc-footer {
  overflow-wrap: break-word
}

.doc-footer .left {
  min-width: 300px;
  max-width: 400px;
  width: 20vw
}

@media only screen and (max-width: 956px) {
  .doc-footer .left {
    display: none
  }
}

.doc-footer .right {
  flex: 1 0 auto
}

.doc-footer .cta-line.left {
  display: none
}

@media only screen and (max-width: 956px) {
  .doc-footer {
    border: 0;
    margin-left: 0
  }
}

.rtl .doc-sidebar {
  left: auto;
  right: 0
}

.rtl .doc-sidebar li.top-level a.external {
  background-position: left 3px;
  padding: 0 0 0 16px
}

.rtl .doc-sidebar li.top-level>.section-name::before {
  left: auto;
  right: 0
}

.rtl .doc-sidebar li.top-level.expandable>.section-name {
  padding: 20px 20px 20px 30px
}

.rtl .doc-sidebar li.top-level.expandable .section-name::after {
  left: 10px;
  right: auto
}

.rtl .doc-sidebar li.sub-level>.section-name {
  padding: 5px 20px 5px 30px
}

.rtl .doc-footer {
  border-left: 0;
  border-right: 3px solid #ededed
}

@media only screen and (max-width: 956px) {
  .rtl .doc-footer {
    border: 0;
    margin-right: 0
  }
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

pre,
code,
kbd,
samp,
tt {
  font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  background: #f5f5f5;
}

code {
  padding: 2px 5px;
  margin: 0 2px
}

a code {
  color: #333;
  white-space: nowrap
}

a:hover code {
  color: #1c79be
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background: none;
  border: 0;
  font-size: 0.9em
}

.rtl code {
  direction: ltr
}

pre {
  overflow: auto;
  tab-size: 2;
  word-break: normal;
  line-height: 1.4;
  padding: 1em;
  direction: ltr
}

pre>code {
  white-space: pre;
  word-wrap: initial;
  display: block
}

pre>code td {
  border: 0
}

@media only screen and (max-width: 956px) {
  .code pre {
    margin: 0 -25px
  }
  code {
    font-size: 13px
  }
  table a code {
    line-height: 2;
    white-space: normal
  }
}

/* Monokai Syntax Color Schemes */

.highlight .hll {
  background-color: #ffffcc
}

.highlight .c {
  /* Comment */
  color: #75715e;
  font-style: italic
}

.highlight .err {
  /* Error */
  color: #f8f8f0;
  background-color: #f92672
}

.highlight .k {
  /* Keyword */
  color: #f92672;
  font-weight: bold
}

.highlight .o {
  /* Operator */
  color: #f92672
}

.highlight .cm {
  /* Comment.Multiline */
  color: #75715e;
  font-style: italic
}

.highlight .cp {
  /* Comment.Preproc */
  color: #f92672
}

.highlight .c1 {
  /* Comment.Single */
  color: #75715e;
  font-style: italic
}

.highlight .cs {
  /* Comment.Special */
  color: #75715e;
  font-weight: bold;
  font-style: italic
}

.highlight .gd {
  /* Generic.Deleted & Diff Deleted */
  background-color: #FFCCCC;
  border: 1px solid #CC0000
}

.highlight .ge {
  /* Generic.Emph */
  font-style: italic
}

.highlight .gr {
  color: #FF0000
}

.highlight .gh {
  /* Generic Heading & Diff Header */
  color: #003300;
  font-weight: bold
}

.highlight .gi {
  /* Generic.Inserted & Diff Inserted */
  background-color: #CCFFCC;
  border: 1px solid #00CC00
}

.highlight .go {
  color: #848484
}

.highlight .gp {
  /* Terminal/shell signs */
  color: #76c92e;
  font-weight: bold
}

.highlight .gs {
  /* Generic.Strong */
  font-weight: bold
}

.highlight .gu {
  /* Generic.Subheading & Diff Unified/Comment? */
  color: #003300;
  font-weight: bold
}

.highlight .gt {
  color: #99CC66
}

.highlight .kc {
  /* Keyword.Constant */
  /* color: #006699; */
  font-weight: bold
}

.highlight .kd {
  /* Keyword.Declaration */
  color: #006699;
  font-weight: bold
}

.highlight .kn {
  /* Keyword.Namespace */
  color: #006699;
  font-weight: bold
}

.highlight .kp {
  /* Keyword.Pseudo */
  color: #006699
}

.highlight .kr {
  /* Keyword.Reserved */
  color: #006699;
  font-weight: bold
}

.highlight .kt {
  /* Keyword.Type */
  color: #007788;
  font-weight: bold
}

.highlight .m {
  /* Literal.Number */
  color: #ae81ff
}

.highlight .s {
  /* Literal.String */
  color: #e6db74
}

.highlight .na {
  /* Name.Attribute */
  color: #1867a3
}

.highlight .nb {
  /* Name.Builtin */
  color: #336666
}

.highlight .nc {
  /* Name.Class */
  color: #f92672;
  font-weight: bold
}

.highlight .no {
  /* Name.Constant */
  /* color: #336600 */
}

.highlight .nd {
  /* Name.Decorator */
  color: #9999FF
}

.highlight .ni {
  /* Name.Entity */
  color: #999999;
  font-weight: bold
}

.highlight .ne {
  /* Name.Exception */
  color: #CC0000;
  font-weight: bold
}

.highlight .nf {
  /* Name.Function */
  color: #a6e22e
}

.highlight .nl {
  /* Name.Label */
  color: #e6db74
}

.highlight .nn {
  /* Name.Namespace */
  color: #00CCFF;
  font-weight: bold
}

.highlight .nt {
  /* Name.Tag */
  color: #f92672;
  font-weight: bold
}

.highlight .nv {
  /* Name.Variable */
  color: #003333
}

.highlight .ow {
  /* Operator.Word */
  color: #000000;
  font-weight: bold
}

.highlight .w {
  /* Text.Whitespace */
  color: #bbbbbb
}

.highlight .mf {
  /* Literal.Number.Float */
  color: #ae81ff
}

.highlight .mh {
  /* Literal.Number.Hex */
  color: #ae81ff
}

.highlight .mi {
  /* Literal.Number.Integer */
  color: #ae81ff
}

.highlight .mo {
  /* Literal.Number.Oct */
  color: #ae81ff
}

.highlight .sb {
  /* Literal.String.Backtick */
  color: #e6db74
}

.highlight .sc {
  /* Literal.String.Char */
  color: #e6db74
}

.highlight .sd {
  /* Literal.String.Doc */
  color: #e6db74;
  font-style: italic
}

.highlight .s2 {
  /* Literal.String.Double */
  color: #e6db74
}

.highlight .se {
  /* Literal.String.Escape */
  color: #e6db74;
  font-weight: bold
}

.highlight .sh {
  /* Literal.String.Heredoc */
  color: #e6db74
}

.highlight .si {
  /* Literal.String.Interpol */
  color: #AA0000
}

.highlight .sx {
  /* Literal.String.Other */
  color: #e6db74
}

.highlight .sr {
  /* Literal.String.Regex */
  color: #33AAAA
}

.highlight .s1 {
  /* Literal.String.Single */
  color: #e6db74
}

.highlight .ss {
  /* Literal.String.Symbol */
  color: #FFCC33
}

.highlight .bp {
  /* Name.Builtin.Pseudo */
  color: #336666
}

.highlight .vc {
  /* Name.Variable.Class */
  color: #003333
}

.highlight .vg {
  /* Name.Variable.Global */
  color: #003333
}

.highlight .vi {
  /* Name.Variable.Instance */
  color: #003333
}

.highlight .il {
  /* Literal.Number.Integer.Long */
  color: #FF6600
}

.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none
}

.lineno::selection {
  background-color: transparent
}

table {
  border-collapse: collapse;
  width: 100%
}

td,
th {
  padding: 2px 3px;
  text-align: left;
  vertical-align: top
}

tr:nth-child(even) {
  background: #eff9fc
}

.rtl td,
.rtl th {
  text-align: right
}

th.col-fourty,
td.col-fourty {
  width: 40%
}

th.col-thirty,
td.col-thirty {
  width: 30%
}

th.col-twenty,
td.col-twenty {
  width: 20%
}

td:first-child {
  border-right: 2px solid #1c79c0
}

.rtl td:first-child {
  border-left: 2px solid #1c79c0;
  border-right: 0
}

html th,
body th {
  background: #fff;
  border-bottom: 2px solid #1c79c0;
  color: #1c79c0
}

@media only screen and (max-width: 956px) {
  td,
  th {
    padding: 5px
  }
  th:first-child {
    border-right: 2px solid #1c79c0
  }
}

@media only screen and (max-width: 1024px) {
  td,
  th {
    padding: 10px
  }
  td>pre {
    white-space: pre-line
  }
}

@media only screen and (min-width: 1025px) {
  td>pre {
    white-space: pre-line
  }
}

aside {
  background: #eff9fc;
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 16px 0;
  padding: 24px 24px 24px 80px;
  position: relative;
  clear: both
}

aside strong {
  color: #0389ff;
  text-transform: uppercase
}

aside code {
  font-size: 13px
}

aside::before {
  float: left;
  word-wrap: normal;
  white-space: nowrap;
  margin-left: -36px;
  content: '';
  height: 70px;
  left: 44px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px
}

aside.none {
  background: #fafafa;
  padding: 24px 24px 24px 24px
}

aside.none strong {
  color: #333;
  text-transform: none
}

aside.note::before {
  background: url(/assets/images/icon_note.svg) center/cover no-repeat
}

aside.caution {
  background: #fff6f6
}

aside.caution strong {
  color: #ff5252
}

aside.caution::before {
  background: url(/assets/images/icon_important.svg) center/cover no-repeat
}

aside.warning {
  background: #fff6f6
}

aside.warning strong {
  color: #ff5252
}

aside.warning::before {
  background: url(/assets/images/icon_important.svg) center/cover no-repeat
}

aside.success {
  background-color: #f2fff8
}

aside.success strong {
  color: #00e676
}

aside.success::before {
  background: url(/assets/images/icon_tip.svg) center/cover no-repeat;
  top: 45%
}

aside.read {
  background-color: #fffcef
}

aside.read strong {
  color: #edc10a
}

aside.read::before {
  background: url(/assets/images/icon_read.svg) center/cover no-repeat
}

.rtl aside {
  padding: 24px 80px 24px 24px
}

.rtl aside::before {
  left: auto;
  margin: 0 -36px 0 0;
  right: 44px
}

.toc {
  background: #fff;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  padding: 50px 20px;
  overflow: auto;
  width: 200px;
  width: 16vw;
  min-width: 180px;
  max-width: 250px
}

.toc::before {
  color: #1c79c0;
  content: 'Contents'
}

.toc ul,
.toc ol {
  list-style: none;
  margin: 0 auto
}

.main .content .toc ul,
.main .content .toc ol {
  margin-left: 0
}

.toc li {
  margin: 15px 0
}

.toc li ul {
  margin-left: 10px
}

.main .content .toc li ul {
  margin-left: 10px
}

.toc li ul a {
  font-size: 0.9em
}

.toc a {
  color: #333;
  display: block;
  position: relative;
  text-transform: none;
  font-weight: 300;
  line-height: 1.5
}

.toc a::before {
  display: none
}

.toc a:hover,
.toc a.active {
  color: #1c79c0
}

.toc a:hover::before,
.toc a.active::before {
  background: linear-gradient(to right, #0389ff, #0dd3ff);
  bottom: -5px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0
}

.toc a:hover code,
.toc a.active code {
  background: transparent;
  color: #1c79c0
}

.toc a code {
  border: 0;
  padding: 0
}

.toc a code::before {
  display: none
}

.rtl .toc {
  left: 0;
  right: auto
}

@media only screen and (max-width: 1350px) {
  .toc {
    position: static;
    width: auto;
    max-width: none;
    padding: 12px 20px;
    margin: 30px 0
  }
}

@media only screen and (max-width: 956px) {
  .toc {
    display: none
  }
}

.card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px
}

.card {
  background: #fff;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 31%;
  flex: 0 0 calc(33% - 30px);
  flex-basis: calc(33% - 30px);
  height: 90%;
  margin: 10px 5px;
  padding: 10px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s
}

.card::before {
  background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
  content: '';
  left: 0;
  height: 2px;
  position: absolute;
  right: 0;
  top: -2px
}

.card.centered {
  align-items: center;
  text-align: center
}

.card:hover {
  box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-5px)
}

.card--spacer {
  box-shadow: none;
  height: 0;
  padding: 0
}

.card--spacer::before {
  display: none
}

.card--spacer:hover {
  box-shadow: none
}

.card-inner {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%
}

.card-type {
  color: #1c79c0;
  margin-bottom: 15px
}

.card-content {
  font-weight: 300;
  text-transform: none
}

.card-content h4 {
  hyphens: auto
}

.card-content p {
  line-height: 24px;
  overflow: hidden
}

.card-date {
  margin-top: 10px
}

.card-section-heading {
  font-size: 30px;
  margin: 50px 10px 0
}

.card-container.grid {
  flex-wrap: wrap
}

.card-container.grid::after {
  content: '';
  display: block;
  flex: 0 0 31%;
  flex: 0 0 calc(33% - 30px);
  flex-basis: calc(33% - 30px);
  margin: 10px 5px;
  visibility: hidden
}

.card-container.grid .card {
  display: flex;
  height: auto;
  min-height: 400px;
  padding: 0
}

.card-container.grid .card:hover .card-link p::before {
  animation: .5s 1 cta-line
}

.card-container.grid .card-inner {
  display: flex;
  height: auto;
  padding: 50px;
  width: 100%
}

.card-container.grid .card-title {
  display: block;
  flex: 1 0 auto;
  hyphens: none;
  margin-bottom: 1em
}

.card-container.grid .card-title h2 {
  font-size: 36px;
  word-break: initial
}

.card-container.grid .card-link p {
  color: #1c79c0;
  display: inline;
  margin: 0;
  padding: 0;
  position: relative
}

.card-container.grid .card-link p::before {
  bottom: -5px;
  height: 2px
}

.card-container.case .card-inner {
  padding: 50px
}

.card-container.case .card-date::before {
  content: ' | ';
  display: inline;
  margin: 0 12px
}

.card-container.case .card-logo {
  align-items: center;
  display: flex;
  height: 40px;
  margin: 1em 0
}

@media only screen and (max-width: 956px) {
  .card-container.grid .card,
  .card-container.case .card {
    flex: 0 0 48%;
    flex: 0 0 calc(50% - 30px);
    flex-basis: calc(50% - 30px)
  }
  .card-container.grid .card-title,
  .card-container.case .card-title {
    margin-bottom: 2em
  }
  .card-section-heading {
    margin: 50px 0 0
  }
}

@media only screen and (max-width: 768px) {
  .card-container.grid .card,
  .card-container.case .card {
    flex: 0 0 100%;
    margin: 10px 0;
    min-height: 300px
  }
}


.searchbar {
  position: absolute;
  right: 175px;
  top: 23px;
  z-index: 2
}

@media only screen and (max-width: 956px) {
  .searchbar {
    display: none
  }
}

.searchbar input {
  border: 0;
  border-bottom: 1px solid #4d4d4d;
  font-family: "Roboto", sans-serif;
  outline: 0;
  vertical-align: bottom
}

.searchbar button {
  background: url(/assets/images/search.svg) center/cover no-repeat;
  border: 0;
  cursor: pointer;
  height: 24.2px;
  position: relative;
  top: 3px;
  vertical-align: middle;
  width: 24.6px
}

.rtl .searchbar {
  left: 230px;
  right: auto
}

footer {
  background-color: #fff;
  padding: 30px 0;
  position: relative
}

footer .footer-image {
  margin: 0 10px
}

footer .footer-image.twitter {
  width: 22.93px;
  height: 19.66px;
  background-position: 0px -54.2px
}

footer .footer-image.wordpress {
  width: 24.03px;
  height: 24.03px;
  background-position: -24.6px -30px
}

footer .footer-image.youtube {
  width: 24px;
  height: 24px;
  background-position: -60px -24px
}

footer .footer-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center
}

footer .footer-privacy {
  color: #727272;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  text-transform: none;
  padding: 10px 15px
}

.footer-cta {
  background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
  display: block;
  padding: 20px 30px;
  position: relative;
  z-index: 1
}

.footer-cta .cta-line {
  position: absolute
}

.footer-cta .cta-line.left {
  height: 140px;
  left: 0;
  top: -50px;
  width: 156px
}

.footer-cta .cta-line.right {
  bottom: -30px;
  height: 107.5px;
  right: -50px;
  width: 175px
}

.footer-cta .cta-line.right-half {
  bottom: 0;
  height: 77.5px;
  right: -50px;
  width: 175px;
  overflow: hidden
}

.footer-cta .inner {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%
}

.footer-cta .inner h2 {
  text-transform: none
}

.footer-cta .inner h2,
.footer-cta .inner .link-text {
  color: #fff;
  display: inline-block
}

.footer-cta .inner .link-text {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%)
}

.footer-cta .inner .link-text::after {
  background: url(/assets/images/arrow.svg) center/cover no-repeat;
  content: '';
  display: inline-block;
  height: 12px;
  margin-left: 10px;
  width: 12px
}

.rtl .footer-cta .inner .link-text {
  left: 0;
  right: auto
}

.rtl .footer-cta .inner .link-text::after {
  margin: 0 10px 0 0;
  transform: rotate(180deg)
}

@media only screen and (max-width: 1000px) {
  .footer-cta .inner {
    width: 90%
  }
}

@media only screen and (max-width: 956px) {
  .footer-cta {
    overflow: hidden
  }
  .footer-cta .cta-line.right,
  .footer-cta .cta-line.right-half {
    bottom: 10px;
    right: -100px;
    height: 107.5px
  }
  .footer-cta .inner {
    text-align: center;
    width: 100%
  }
  .footer-cta .inner h1,
  .footer-cta .inner .link-text {
    display: block
  }
  .footer-cta .inner .link-text {
    margin-top: 20px;
    position: static
  }
}

.doc-sidebar,
.toc {
  top: 140px
}

.project-box {
  display: block;
  padding: 0.01em 16px;
  transition: transform .2s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  height: 150px;
  width: 90%
}

.project-box:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #f8f8f8
}

.project-box > img {
  height: auto;
  width: 30%;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.project-box > h2 {
  font-size: 20px;
  margin-left: 33%;
  margin-top: 0px;
  color: #1c79c0
}

.project-box > p {
  font-size: 12px;
  margin-left: 33%;
  margin-top: 0px
}

.project-href {
  color: #333;
  text-decoration: none
}

.tagline {
  font-size: 12px;
  color: #666;
}

.footer-privacy {
  color: #727272;
  font-size: 14px;
  text-align: center;
}

/* implement dark mode color scheme when host prefers */
@media (prefers-color-scheme: dark) {
  body,
  input,
  html th,
  body th,
  .main {
    background-color: #2d2d2d;
    color: #e4e4e4;
  }

  tr:nth-child(even) {
    background-color: #666;
  }

  .header div.tab .list-container>ul .sublist,
  .header div.tab .list-container>ul {
    background: #222;
  }

  .project-box:hover,
  .header div.tab .list-container>ul .sublist li:hover,
  .header div.tab .list-container>ul li:hover {
    background: #666
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  kbd,
  .post-title,
  .project-href,
  .header .tab,
  .doc-sidebar .nav>.active>a,
  .doc-sidebar .nav>li>a:hover,
  .doc-sidebar .nav>li>a:focus {
    color: #eee;
  }

  .small,
  .doc-sidebar li.sub-level>.section-name,
  .header div.tab .list-container>ul li a,
  .post-content,
  .doc-sidebar .section-name,
  .searchbar input {
    color: #e4e4e4;
  }

  pre,
  code,
  kbd,
  samp,
  tt {
    background: #222;
  }

  img {
    filter: grayscale(30%);
  }

  .tagline,
  .footer-privacy,
  .project-box > h2,
  blockquote {
    color: #bbb;
  }

  blockquote {
    border-left: 4px solid #aaa;
  }
}
